# Example - Excel ETL

## Preparation

In [1]:
import pandas

## Extract

In [2]:
df_sh1_extract = pandas.read_excel(io = './Example_ETLExcel_I.xlsx', sheet_name = 'Sh1')
df_sh2_extract = pandas.read_excel(io = './Example_ETLExcel_I.xlsx', sheet_name = 'Sh2')

## Transform

In [3]:
df_sh1_extract

   ColA Col1 Col2 Col3
0     1   as   QW    x
1     2   df   ER    c
2     3   gh   TY    v
3     4   jk   UI    b
4     5   lz   OP    n

In [4]:
df_sh2_extract

   ColB Col1 Col2 Col3
0     6   mn   HG    Y
1     7   bv   FD    T
2     8   cx   SA    R
3     9   zl   PO    E
4    10   kj   IU    W

In [5]:
columns_to_keep_df_sh1 = ['ColA', 'Col2']

df_sh1_toload = df_sh1_extract[columns_to_keep_df_sh1].copy(deep = True)

In [6]:
columns_to_keep_df_sh2 = ['ColB', 'Col1', 'Col3']

df_sh2_toload = df_sh2_extract[columns_to_keep_df_sh2].copy(deep = True)

In [7]:
df_sh1_toload

   ColA Col2
0     1   QW
1     2   ER
2     3   TY
3     4   UI
4     5   OP

In [8]:
df_sh2_toload

   ColB Col1 Col3
0     6   mn    Y
1     7   bv    T
2     8   cx    R
3     9   zl    E
4    10   kj    W

## Load

In [9]:
with pandas.ExcelWriter('./Example_ETLExcel_O.xlsx') as df_to_excelsheet_writer:
    df_sh1_toload.to_excel(excel_writer = df_to_excelsheet_writer, sheet_name = 'ShA', index = False)
    df_sh2_toload.to_excel(excel_writer = df_to_excelsheet_writer, sheet_name = 'ShB', index = False)